<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnho Store</title>
    <link rel="stylesheet" href="./style.css">    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    
</head>
<body>
    <div id="app">
    <header class="header">
        <img class="logo" src="./assets/techno.svg" alt="Tecnho">
        <div class="carrinho_menu" @click.prevent="abrirModalCarrinho">{{carrinhoTotal | numeroPreco}} | {{carrinho.length}}</div>
        
    </header>

    
       <section class="produtos">
            <div @click="abrirModal(item.id)"v-for="item in produtos":key="item.id" class="produto">
                <img :src="item.img" :alt="item.nome" class="produto_img"/>
                <div class="produto_info">
                    <span class="produto_preco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produto_nome">{{item.nome}}</h2>
                </div>          
               
            </div>
       </section>
    
    
    <section class="modal" v-if="produto" @click="fecharModal">
       <div class="modal_container">
            <div class="modal_img">
                <img :src="produto.img" :alt="produto.nome">
            </div>
            <div class="modal_dados">
                <button @click="produto = false"class="modal_fechar">X</button>
                <span class="modal_preco">{{produto.preco | numeroPreco}}</span>            
                <h2 class="modal_titulo">{{produto.nome}}</h2>
                <p>{{produto.descricao}}</p>                
                <button class="modal_btn" v-if="produto.estoque > 0" @click="adicionarCarrinho">Adicionar Item</button>
                <button class="modal_btn esgotado" disabled v-else>Produto esgotado</button>
            </div>
            <div class="avaliacoes">
                <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                <ul>
                    <li v-for="avaliacao in produto.avaliacoes" class="avaliacao">
                        <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
                        <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}}</p>           
                        
                    </li>
                </ul>

            </div>
        </div>       
    </section>

  
<v-app>
  <template >
  <v-row justify="center" >
    <v-dialog  v-model="carrinhoAtivo" transition="fab-transition">      
      <v-card class="d-flex flex-column">
        <v-card-actions>          
          <v-btn color="green darken-1" text @click="carrinhoAtivo = false">Sair</v-btn>          
        </v-card-actions>
        <v-card-title class="headline">Carrinho de compras</v-card-title>
        <v-spacer></v-spacer>
        <v-card-text v-for="(item, index) in carrinho":key="item.id">            
            <div class="d-flex justify-space-between grey lighten-3">
                <div>
                    <p class="font-weight-black pa-3">{{item.nome}} </p>
                </div>
                <div class="d-flex">
                    <p class="font-weight-black pa-3">{{item.preco | numeroPreco}}</p>
                    <v-btn color="green darken-1" text @click="removerItem(index)">x</v-btn>                      
                   
                </div> 
            </div>    
            
        </v-card-text> 
        <div class="align-end pa-5 d-flex flex-column">
             <p> Valor Total da Compra: {{carrinhoTotal | numeroPreco}}<p>    
             <v-btn class="ma-2" outlined color="indigo">Finalizar Compra</v-btn>        
       </div>                 
        
      </v-card>
    </v-dialog>
  </v-row>
</template>
</v-app>

    <div class="alerta" :class="{ativo: alertaAtivo}">
        <p class="alerta_mensagem">{{mensagemAlerta}}</p>
    </div>
    
    </div>

    <script src="./app.js"></script>
</body>
</html>