<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>    
    <title>Data - Capitulo02</title>
</head>
<body>
    <div id="app">        
       <p>Produto: {{produto.nomeProduto}}</p>
       <p>Quantidade produtos no Carrinho: {{produto.qtdProdutosNoCarrinho}}</p>
       <p>Quantidade de produtos no Estoque: {{produto.qtdProdutosEstoque}}</p>
       <button v-if="produto.qtdProdutosEstoque !== 0" @click="addProduto">Adicionar Produto</button>
       <button v-if="produto.qtdProdutosNoCarrinho > 0" @click="delProduto"> Remover Produto</button>
       <template v-if="produto.qtdProdutosEstoque === 0">
            <p>Infelizmente não você pode adionar mais produtos</p>
       </template>
   
    </div>
  
    <script>     
        
        const vm = new Vue({
            el:"#app",
            data: {          
                produto: {
                    nomeProduto: 'Martelo',
                    qtdProdutosEstoque: 7,
                    qtdProdutosNoCarrinho: 0
                }

             },
            methods: {
               addProduto(){
                   this.produto.qtdProdutosEstoque--;
                   this.produto.qtdProdutosNoCarrinho++;
               },
               delProduto(){
                   this.produto.qtdProdutosNoCarrinho--;
                   this.produto.qtdProdutosEstoque++
               }
             }
        })
    </script> 
</body>
</html>