<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>    
    <title>Reatividade e Virtual Dom</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <p>{{conteudo}}</p>
        <p>Área de um quadrado: {{lado * lado}}</p>
        <p>Perímetro de um quadrado: {{lado * 4}}</p>
        <p>Curso Liberado: {{comprou ? 'Sim' : 'Não'}}</p>
        <p>Cliente Vitalicio {{comprou}}</p>
        <a :href="comprou ? href : 'facebook.com'">{{href}}</a>            

        <div v-if="comprou">
            <input type="color" v-model="color"name="" id="">
            <p v-bind:style="{backgroundColor: color}">Essa é a cor: {{color}}</p>

        </div>

    </div>
    <script src="./script-aula.js"></script>
</body>
</html>